{deps_dir, ["deps"]}.
{sub_dirs, ["rel", "apps/twitter_client"]}.
{erl_opts, [debug_info, warnings_as_errors]}.
{xref_checks, [undefined_function_calls]}.
{deps,
 [
  {mochijson2, ".*", {git, "https://github.com/bjnortier/mochijson2.git", "master"}},
  {oauth, ".*", {git, "https://github.com/tim/erlang-oauth.git", "master"}}
 ]}.
